*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px; 
    background-color: #300f30;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgb(71, 16, 73), rgb(188, 116, 39), rgb(235, 242, 208));
    border-radius: 9em;
}

.app {
    width: 100%;
    background:url('./images/cool-background.png') no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 20px 0;
    opacity: 0.9;
}

.container {
    max-width: 1400px;
    height:max-content;
    margin: 0 auto;
}

.main{
    display: flex;
    background: rgba(255, 255, 255, 0.4);
    background-size: contain;
    border-radius: 10px;
    padding: 25px;
}


.pokemon__buttons{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.pokemon__buttons button {
    min-width: 150px ;
    padding: 15px;
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 5px;
}

@media (max-width: 960px) {
    .pokemon__buttons button {
        min-width: 100px;
    }
}

@media (max-width: 768px) {
    .pokemon__buttons button {
        max-width: 50px;
        font-size: medium;
        padding: 5px;        
    }
}

.pokemon__buttons button:hover {
    background-color: black;
    color: white;
    box-shadow: -2px 0px 8px 10px rgba(34, 60, 80, 0.2);
    scale: 1.1;
}


.pokemon__prev::before {
    content: url(./images/arrow-previous.png);
    margin-right: 5px;
}

.pokemon__next::after {
    content: url(./images/arrow-next.png);
    margin-left: 5px;
}

.loader_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #0e5889; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


